/* global styles  */
*{
    box-sizing: border-box;
    border: 1px solid red;
}
/* element styles */
body {
    /* fonts */
    margin: 0;
    min-height: 100vh;
    background-color: rgb(230,230,230);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px /* reference size for rem units */

}
h1 {
    font-size: 3.5rem;
    /* margin: 0; */
}

/* layout */
.container {
    border: 3px solid blue;
    width: 90vw;
    margin: 0 auto;
}

.button-wrapper {
    display: flex;
    justify-content: space-around;
    gap: 1rem
}

.stats-wrapper {

}

.game-state-wrapper {
    display: flex;
    justify-content: center;
}

.game-title {
    text-align: center;
}

#tama-graphic {
    max-height: 33vmax;
}

#tama-graphic:hover {
    border: 10px solid salmon;
}

/* headings */

/* buttons */
.button-wrapper button{
    background-color: #0b99ff;
    color:  white;
    padding: 1.3rem 1.6rem;
    font-size: 1.8rem;
    border-radius: .25rem;
    border: 2px solid #134a71;
}

/* images */
